 .mode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .mode h3{
    border: 1px dashed #333;
    padding: 5px;
    width: 200px;
    text-align: center;
 }
 .dark{
    font-size: 2.2rem;
    color:rgb(255, 221, 0);

}